html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: #669bbc;
    color: #faedcd;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#menu {
    width: 400px;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #faedcd;
    border: 4px dotted black;
}

#menu li {
    margin: 20px;
}

a {
    color: #780000;
}